.poadcast-title{
    text-decoration: underline white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.poadcast-main{
    text-decoration: underline white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10%;
}
.poadcast-guest{
    text-decoration: underline white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 30%;
}
.fztT3Lpoadcats{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poadcast-duration{
    text-decoration: underline white;
}
.poadcast-dateOfRelease{
    text-decoration: underline white;
}
.poadcast-button{
    width: 80%;
    margin-left: 10%;
    text-decoration: underline white;
}